:root {
    --primary-font-family: 'Poppins', sans-serif;
    --primary-blue-color: #0156FF
}

/* .header-content {
    padding: 10px 5px;
} */

.header-top {
    background-color: #000;
    height: 40px;
    padding: 0 px;
    position: relative;
}

.logo-wrapper {
    width: 34px;
}

.work-hours {
    font: 12px var(--primary-font-family);
    cursor: pointer;
}

.logo-wrapper div {
    background-color: var(--primary-blue-color);
    top: -12px;
    left: 10px;
    border-radius: 45% 45% 0 0;
}

.contact-us {
    font: 12px var(--primary-font-family);
    padding-right: 10px;
}

.header-bottom {
    background-color: var(--primary-blue-color);
    padding: 15px 10px;
    position: relative;
}

.search-input input {
    outline: none;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    width: 105%;
}

.shopping-cart span {
    font-size: 9px;
    padding: 3px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: -2px;
    right: -7px;
    color: var(--primary-blue-color);
}

.profile {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    font-size: 10px;
    cursor: pointer;
}

.menu {
    padding: 15px;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-close {
    left: -500px;
}

.position-sticky {
    left: 0;
    top: 0;
}

.menu-close-btn {
    cursor: pointer;
}

.our-deals-btn {
    font: 600 16px var(--primary-font-family);
    border-radius: 40px;
    width: 180px;
    padding: 10px;
}

.new-products-section h3,
.new-products-section a {
    font-family: var(--primary-font-family);
    color: #000;
}

.in-stock i,
.in-stock span {
    font-size: 12px;
    color: #73A25E;
}

.review i {
    font-size: 14px;
}

.review span {
    font-size: 12px;
    color: #8C8C8C;
}

.price .price-before {
    color: #666666;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    top: -23px;
    left: 266px;
}

.company-information {
    padding: 14px 0 17px;
    width: 100%;
    font-family: var(--primary-font-family);
    position: absolute;
    z-index: 555;
    background-color: #fff;
    top: -1000px;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pos {
    top: 35px;
}

.company-information span {
    color: #8C8C8C;
    font-weight: 600;
}

.clock i {
    font-size: 32px;
}

.location-dot i {
    font-size: 38px;
}

.address p {
    width: 220px;
}

.company-contacts p:nth-child(2) {
    margin-left: 17px;
}

.my-account {
    width: 270px;
    padding: 20px 17px 20px 26px;
    position: absolute;
    z-index: 222;
    right: 0;
    top: -1000px;
    transition: all .5s ease-in-out;
}

.account-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    left: 196px;

}

.profile-pos {
    top: 65px;
}

.carousel {
    margin: 12px 16px 19px 14px;
}

.advert {
    background-color: aliceblue;
    color: #272560;
    font-family: var(--primary-font-family);
}

.advert a {
    color: #272560;
}

.custom-builds {
    background-image: url(./../img/custom-builds.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    font-family: var(--primary-font-family);
}

.msi-laptops {
    background-image: url(./../img/msi-laptops.svg);
    background-size: contain;
    color: #fff;
    font-family: var(--primary-font-family);
}

.laptop-series h6 {
    font-size: 16px;
}

.grey {
    color: #838383;
}

.underline {
    padding-bottom: 5px;
    border-bottom: 3.1px solid #0156FF;
}

.desktops {
    background-image: url(./../img/desktops.svg);
    background-size: contain;
    font-family: var(--primary-font-family);
}

.gaming-monitors {
    background-image: url(./../img/gaming-monitors.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.partners {
    padding: 25px 23px;
}

.reviews {
    background-color: aliceblue;
}

.reviewer {
    text-align: right;
}

.leave-review {
    border-radius: 25px;
    border: 2px solid #0D6EFD;
}

.review-slider-controls {
    color: #0D6EFD;
    font-size: 13px;
    cursor: pointer;
}

.subscribe-btn {
    border-radius: 25px;
}

.accordion-button {
    box-shadow: none !important;
    background-color: black !important;
    color: white;
    border-color: black !important;
}

.accordion-body {
    background-color: #000;
    color: #fff;
}

.accordion-body ul li {
    list-style-type: none;
    cursor: pointer;
}

.email-inp {
    border: 2px solid #fff;
    background-color: #000;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.up-btn {
    border-radius: 50%;
}

.message-box {
    z-index: 16165;
    right: 0;
    top: 670px;
}